<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.example.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/createOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.example.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
</web-app>